 <div class="sub">
  <select class="selectbox_date TW260 marR10" name="invoice[user_id]" id="user">
    <option value="">-- User--</option>
    <% for subcat in @user %>
        <option value="<%= subcat[:id] %>"><%= subcat[:name] %></option>
    <% end %>
</select>
</div>